<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAGINA NAO ENCONTRADA</title>
</head>
<body>


<script src= "https://player.twitch.tv/js/embed/v1.js"></script>
<div id="twitch-embed"></div>
<iframe
    src="https://player.twitch.tv/?channel=dartchiolivi&parent=1def3c948681.ngrok.io"
    height="800"
    width="600"
    frameborder="0"
    scrolling="no"
    allowfullscreen="true">
</iframe>

<script type="text/javascript">
  new Twitch.Player("twitch-embed", {
    channel: "dartchiolivi"
  });
</script>


</body>
</html>
