<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliá-Spa</title>
    <link rel="stylesheet" href="/static/css/mail.css">
</head>
<body>


<div class="mail-body">
    <img class="img-mail" src="/static/img/email-marketing.png" height="100%">

    <div class="mail-item ">
        <a class="box1" href="https://eliaspa.com.br/loja/servicos-variados/linha-de-inspiracao-alegria/">
        </a>
    </div>

     <div class="mail-item2 ">
        <a class="box2" href="https://eliaspa.com.br/loja/servicos-variados/linha-de-inspiracao-saudade/">
        </a>
    </div>
    <div class="mail-item3 ">
        <a class="box3" href="https://eliaspa.com.br/loja/servicos-variados/linha-de-inspiracao-amor/">
        </a>
    </div>


    <div class="site-item ">
        <a class="box4" href="https://eliaspa.com.br/">
        </a>

        <a class="box5" href="#">
        </a>
        <a class="box6" href="#">
        </a>
    </div>

</div>


</body>
</html>